<header class="header">
  <div class="container header__container">
    <div class="header__wrapper">
      <a href="/src/index.html" class="header__logo">
        <img
          id="local-nav-logo-desktop"
          class="header__logo-icon"
          src="https://lumiere-a.akamaihd.net/v1/images/logo_20cs_618cd78c.svg?region="
          alt="20th century studios"
          width="65"
          height="55"
        />

        <!-- <span class="header__logo-letters">FilmoTeka</span> -->
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="/src/index.html"><span>HOME</span></a>
          </li>
          <li class="header__nav-item">
            <a href="/src/library.html"><span>LIBRARY</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
