.scrolltop {
  position: fixed;
  background-color: orange;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  bottom: -150px;
  right: 10px;
  transition: 0.6s all;

  @media screen and (min-width: 1440px) {
    right: 100px;
  }

  @media screen and (min-width: 2560px) {
    right: 20%;
  }
}

.scrolltop.showed {
  bottom: 100px;
  transition: 0.6s all;
}

.scrolltop-ico {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transition: 0.3s hover;
  }
}
